* {
	font-family: sans-serif;
	padding: 0;
	margin: 0;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 100vh;
}

.game {
	width: 500px;
	height: 200px;
	border: 2px solid #000;
	overflow: hidden;
    background: url("bg.png")
}

.character {
	width: 40px;
	height: 40px;
	background-image: url("dino.png");
	background-size: cover;
	position: relative;
	top: 125px;
	left: 20px;
	z-index: 2;
}

.score {
	font-size: 26px;
}

.obstacles {
	width: 30px;
	height: 120px;
	background-color: #ee3f3f;
	position: relative;
	top: 50px;
	left: 470px;
}

button {
	background-color: #e6f151;
	font-size: 15px;
	font-weight: 600;
	margin: 10px;
	padding: 8px 20px;
	outline: none;
	border: 0;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.9);
}


@keyframes move {
  0% {
		left: 500px
	}
  100%{
		left: -20px
	}
}

.move {
	animation: move 1s infinite linear;
}

@keyframes jump{
  0% {
		top: 125px;
	}
  30% {
		top: 60px;
	}
	50% {
		top: 30px;
	}
  70% {
		top: 60px;
	}
  100% {
		top: 125px;
	}
}

.jump {
	animation: jump 0.8s linear;
}